{
  "plugins": ["react-hot-loader/babel"],
  "presets": [["@babel/preset-env", {"modules": false}]],
  "env": {
    "production": {
      "plugins": ["@babel/plugin-transform-react-inline-elements"]
    }
  }
}
